[Unit]
Description=forti_login
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/forti_login -u myusername -p mypassword
KillMode=process
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
