[Unit]
Description=forti_login
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/forti_login myusername mypassword
KillMode=process
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
